html {
    scroll-behavior: smooth;
  }
  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    
body {
      font-family: "Poppins", sans-serif;
    }
    
  nav {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 99;
    }
  .hero {
      max-width: 1200px;
      margin: auto;
      padding: 1.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    nav .logo a {
      font-size: 1.5rem;
      font-weight: 600;
      color: #9333ea;
      transition: 0.3s;
      font-family: 'Times New Roman', Times, serif;
    }
    nav .logo a:hover {
      color: #a855f7;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style: none;
      transition: left 0.3s;
    }
    ul li a {
      padding: 0.5rem 1rem;
      border: 2px solid transparent;
      text-decoration: none;
      font-weight: 600;
      color:#fffafa;
      transition: 0.3s;
      border: 2px solid #050511;
      font-family: 'Times New Roman', Times, serif;
          
    }
    ul li a:hover {
      color: hwb(337 5% 9% / 0.911);
    }
    .section {
      background-color:#faf5ff ;
    }
    
    .section__container {
      min-height: 100vh;
      max-width: 1200px;
      margin: auto;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .subtitle {
      letter-spacing: 2px;
      color:#6b7280 ;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    
    .title {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 3rem;
      color: #1f2937;
      margin-bottom: 1rem;
      font-family: 'Times New Roman', Times, serif;
    }
    
    .title span {
      font-weight: 600;
    }
    
    .description {
      line-height: 1.5rem;
      color:#6b7280 ;
      margin-bottom: 2rem;
    }
    
    
    
    .image {
      display: grid;
      place-items: center;
       
    }
    
    .image img {
      width: 250px;
      border-radius: 100%;
      height:250px;
      border: 3px solid black; 
    }
    
    @media (width < 750px) {
      nav .checkbox {
        display: block;
      }
    
      ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color:#faf5ff ;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
      }
    
      nav #check:checked ~ ul {
        left: 0;
      }
    
      ul li a {
        font-size: 1.25rem;
      }
    
      .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
      }
    
      .image {
        grid-area: 1/1/2/2;
      }
    
      .action__btns {
        margin: auto;
      }
    }
    .btn{
      background-color: #9333ea;
      display: flex;
    gap: 1rem;
    }
    .container {
      width: 80%;
      margin: auto;
      overflow: hidden;
      height: 180px;
  }
  
  .school {
      margin: 20px 0;
  }
  
  .school h3 {
      margin: 0;
      color: hsl(0, 4%, 5%);
      font-family: 'Times New Roman', Times, serif;
      font: bold;
  }
  .skills ul {
      list-style-type: disc;
      padding-left: 20px;
  }
  
  .skills ul li {
      margin: 5px 0;
      color: #555;
  }
  .Ed{
    padding: 50px 12% 50px;
    align-content: center;
    background-size: 100%;
  }
  .education{
      padding: 10rem 1rem 5rem 1rem;
        text-align: left;
        grid-template-columns: repeat(1, 1fr);
  }
  .Edu{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .Ski{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .skil{
    padding: 50px 12% 50px;
    align-content: center;
    background-size: 100%;
  }
  .cnt{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .cont{
    padding: 50px 12% 50px;
    align-content: center;
    background-size: 100%;
  }
 
  
  button {
    background-color: #1b38db; 
    border: 2px solid hwb(240 19% 77%);; 
    color: #180f0f; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 14px; 
    margin: 4px 2px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-family: 'Times New Roman', Times, serif; 
  }
  button:hover {
    background-color: hsl(123, 83%, 49%); 
  }
  
  button a {
    color: hsl(0, 24%, 96%); 
    text-decoration: none; 
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
  } 
  button a:hover {
    text-decoration: underline; 
  }
  i {
    margin-right: 10px; 
    margin-bottom: 10px;
  }
  section{
  padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
  }